<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.adonix.tester.CTesterWsdlAxis"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-wsvchost localhost:80 -wsvcpath adxwsvc -wsvclang FRA -wsvcuser OG -wsvcpass none -wsvcalias X3TEST140 -wsvcconfig adxwss.trace.on=on&amp;adxwss.trace.size=16384&amp;adonix.trace.on=on&amp;adonix.trace.level=3&amp;adonix.trace.size=8 -viewactivityon on -viewsoapon off -traceon off  -tracehost localhost -traceport 1515 -tracelevel 9"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AdxWebServiceXmlCC_tester"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
</launchConfiguration>
